html,
body {
  text-align: center;
  background-color: #f6f7f9;
  color: #161616;
  height: 100%;
  min-width: 200px;
  font-family: "Roboto", sans-serif;
  /*
    font-family: 'Ubuntu', sans-serif;
*/
}

.container-fluid {
  width: 100%;
  max-width: 1024px;
  display: inline-block;
  text-align: center;
  margin: auto;
  padding: 0 30px;
  overflow-wrap: break-word;
}

a {
    color: #4e48bd;
}

h1, h2, h3, h4, h5, .login-bottom__text {
    font-family: "Raleway", sans-serif !important;
    font-weight: 600 !important;
    color: #696e78 !important;
    margin-bottom: 0px !important;
}

h5, .login-bottom__text  {
    font-weight: 300 !important;
}

.login-bottom__text {
    line-height: 2;
    font-size: 20px;
}


.navbar {
  margin-bottom: 18px;
  background-color: #ffffff !important;
  box-shadow: 0px 8px 16px -4px rgba(230, 235, 242, 1);
}

.nav-item {
    display: flex;
    align-items: center;
}

a {
  text-decoration: none !important;
  font-weight: 400;
}

.fields-wrapper input {
  border: 0 none;
  /* border-radius: 8px; */
  border: none !important;
  border-bottom: 1px solid #696e78 !important;
  background-color: #ffffff  !important;
  padding-left: 15px  !important;
  height: 40px  !important;
  height: 40px  !important;
  font-weight: 300;
  font-size: 20px;
  color: #696e78;

}


input#id_title {
    width: 180px; !important;
}

input#id_tariff {
    width: 180px; !important;
}


.input-title {
    display: flex;
    flex-direction: column;
    margin-right: 60px;
}

.input-tariff {
    display: flex;
    flex-direction: column;
}

.previous-counter-value {
    display:inline-block;
    margin-right: 60px;
}

.current-counter-value {
    display:inline-block;
}


#previous_counter_value, #current_counter_value {
    width: 180px;
}

.payment-create-service-title {
    display: block;
}

#period {
    display: block;
    width: 200px;
}

.difference-result {
    display: none;
}

input:focus {
    border-bottom: 2px solid #655feb  !important;
  /* border: 1px solid #655feb; */
  /* box-shadow: 0 0 0 0.2rem rgba(114, 38, 255, 0.5) !important; */
}

.field-label {
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 0.9rem;
    color: #655feb;
}

.bottom-buttons {
    display: flex;
    justify-content: space-between;
}

.input-login {
    margin-right: 0 !important;
}


.login-title-description {
	margin: 8px auto 8px 15px;
}


.socialaccount {
    margin-top: 8px;
}

.main-detail-wrapper {
    width: 100%;
    margin-right: 20px;
}

.back-button {
    display: inline-block;
    vertical-align: 155px;
}

.back-button a {
    color: #655feb !important;
    margin-top: 12px;
}

.organization-list-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.add-organization-bnt {
    margin-bottom: 80px;
}


.archive a {
  text-decoration: none !important;
  color: ##b2afbd !important;
}


.btn-primary {
    /*padding-left: 55px !important;
    padding-right: 55px !important;*/
    width: 150px;
    height: 45px;
    color: white !important;
    border-radius: 30px;
    border-color: #655feb;
    background-color: #655feb;
    box-shadow: 0px 14px 25px -6px rgba(147, 143, 230, 1);
}

.btn-primary:hover {
  color: white;
  background-color: #4e48bd;
  border-color: #655feb;
}

.btn-primary:active {
  color: white;
  background-color: #4e48bd !important;
  border-color: #655feb !important;
  box-shadow: 0 0 0 0.2rem rgba(114, 38, 255, 0.5) !important;
}

.btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(114, 38, 255, 0.5);
  background-color: #4e48bd !important;
  border-color: #655feb !important;
}


.btn-secondary {
    width: 150px;
    height: 45px;
    border-radius: 30px;
    background-color: #ffffff;
    color: #696e78;
    border: #f8fbff solid 1px;
    box-shadow: 0px 14px 25px -6px rgba(184,183,204,1);
}

.google-btn {
}



#difference {
    display: inline;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 2.1rem;
}

.units, .currency {
    display: none;
    margin-bottom: 6px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 1.1rem;
    color: #696e78;
}

.tariff-currency {
    margin-bottom: 6px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 1.1rem;
    color: #696e78;
}

.icon-wrapper {
    display: inline-block;
    margin-left: 50px;
}

#dropdownMenuButton {
    height: 45px !important;
    width: 85px !important;
}


.dropdown-menu-block {
    display: inline;
}

.dropdown-menu-icon {
    min-width: 10px !important;
}


.icon-preview {
    margin-left: 15px;
}


.main-title {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 30px;
  position: relative;
  color: #696e78;
}

.service-detail {
    max-width: 550px;
    display: flex;
    flex-direction: column;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.service-detail-row {
    justify-content: center;
}


.service-title {
  position: relative;
/*
  padding-left: 0 !important;
*/
  padding-right: 0 !important;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  max-width: 350px;
  margin: 8px auto 0 0;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 30px;
  position: relative;
  color: #696e78;
}

.title {
  display: flex;
  justify-content: start;
}


.options {
    display: flex;
    margin-top: 2px;
}


.difference-wrapper, .result-wrapper {
    margin-top: 60px;
    min-width: 50px;
    display: block;
    justify-content: center;
    align-items: flex-end;
    font-size: 34px;
    color: #696e78;
}

.result-wrapper {
    margin-left: 60px;
}

.units-wrapper {
    display: inline-block;
}


.details-item {
    justify-content: flex-start;
}

.service-detail-item {
    float: right;
    color: #655feb;
}

.dotted-menu {
  font-size: 30px;
  border: 0 none;
  background: none;
  overflow: visible;
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: flex-start;
}

.dotted-menu:focus {
  outline: none !important;
}

.dropdown-menu {
  border: #f8fbff solid 1px;
  box-shadow: 0px 8px 16px -4px rgba(230, 235, 242, 1);
}

.info-wrapper {
    max-width: 100%;
    padding: 30px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 2.1rem;
    color: #696e78 !important;
    margin: 8px auto 15px auto;
    background-color: #ffffff;
    color: #b2afbd;
    position: relative;
    border-radius: 13px;
    border: #f8fbff solid 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
/*
    align-items: center;
*/
    text-decoration: none;
    box-shadow: 0px 8px 16px -4px rgba(230, 235, 242, 1);
}

.archive-body {
    width: 100%;
    min-width: 260px;
    max-width: 100%;
    padding: 20px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.info-body {
    width: 100%;
    min-width: 260px;
    max-width: 100%;
    padding: 20px 0;
    justify-content: center;
}


.archive-card {
    width: 100%;
    margin: 7px;
    height: 8rem !important;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 2.1rem;
    color: #b2afbd !important;
    background-color: #ffffff;
    border-radius: 13px;
    border: #f8fbff solid 1px;
    text-decoration: none;
    box-shadow: 0px 8px 16px -4px rgba(230, 235, 242, 1);
}


.measurement_units {
    font-size: 20px;
    color: #b2afbd;
}




#service-create-form input, #measurement_units {
    margin-bottom: 35px;
}

/*.new-payment-button {
    position: relative;
    top: 0px;
}*/

.info-values {
    display: flex;
    justify-content: space-between;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 1.6rem;
    color: #696e78;
}


.payment-create-tariff {
    display: inline-block;
    margin-left: 60px;
}

.values-units {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  color: #b2afbd;
}

org-item-wrapper {
  justify-content: center;
  align-items: center;
}
.col-6,
.col-sm-4,
.col-md-3,
.col-lg-3 {
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.dropdownMenu2 {
    text-align: bottom;
}


.icon {
    height: 40px;
    width: auto;
    margin-bottom: 15px;
/*
    color: #696e78;
*/
    color: red;
}

.icon:hover {
    transform: scale(1.02);
}


.organization-item {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 1.4rem;
  height: 200px;
  margin: 8px auto 15px auto;
  padding-top: 51px;
  background-color: #ffffff;
  color: #b2afbd;
  position: relative;
  border-radius: 13px;
  border: #f8fbff solid 1px;
  display: block;
  text-decoration: none;
  box-shadow: 0px 8px 16px -4px rgba(230, 235, 242, 1);
/*
  transition: transform 5s, filter 3s ease-in-out;
*/
    transition: 0.45s;
    }

.organization-item:hover {
  color: white;
  /*background: linear-gradient(
    90deg,
    rgba(92, 92, 232, 1) 0%,
    rgba(127, 105, 245, 1) 100%
  );*/
    background-color: #655feb;
  text-decoration: none;
  border: #655feb solid 1px;
  box-shadow: 0px 24px 37px -16px rgba(147, 143, 230, 1);
  transform: scale(1.02);
}

.organization-item:active {
  color: #f6f7f9;
  background: linear-gradient(
    90deg,
    rgb(79, 79, 197) 0%,
    rgb(113, 94, 218) 100%
  );
  box-shadow: 0px 24px 30px -20px rgba(147, 143, 230, 1);
  text-decoration: none;
  top: 2px;
  transform: scale(1.01);
}

.organization-title {
  padding-top: 54px;
  /*position: relative;
    top: 50%;
    transform: translateY(-50%);*/
}

.cart-items {
    display: none;
    position: absolute;
    top: 64px;
    right: 30px;
    width: 350px;
    padding: 35px;
    z-index: 2;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 1.3rem;
    background-color: #ffffff;
    color: #b2afbd;
    border-radius: 13px;
    border: #f8fbff solid 1px;
    text-decoration: none;
    box-shadow: 0px 8px 16px 20px rgba(230, 235, 242, 0.50);
}

.cart-items h4 {
    color: #655feb;
    font-weight: 300;
}

.cart-items li {
    list-style-type: none;
    text-align: left;
}

.cart-items__title {
    display: flex;
    justify-content: space-between;
}

#cart-snippet {
    padding-left: 0;
}

.checkout-button {
    display: flex;
    justify-content: end;
}

.checkout-btn {
    width: 110px;
    display: flex;
    justify-content: center;
    color: white !important;
    border-radius: 30px;
    border-color: #655feb;
    background-color: #655feb;
    box-shadow: 0px 14px 25px -6px rgba(147, 143, 230, 1);
}

.delete-item svg {
    color: #655feb;
}



.username {
  margin-top: 10px;
}

.checkout-items-apper {
  margin-top: 15px;
}

.checkout-item {
  margin: 35px auto;
}

.modal-content {
    padding: 10px;
    color: #696e78 !important;
    border: none !important;
    font-size: 30px;
    font-weight: 300;
}

.modal-title {
    font-family: "Roboto", sans-serif !important;
    font-weight: 400 !important;
}

.modal-header, .modal-footer {
    border: none ! important;
}

.checkout-items-wrapper {
    max-width: 550px;
    background-color: #f6f7f9;
}