<nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
  {% url 'organization_list_url' as organization_list_url %}
  <a class="navbar-brand" href="{% url 'organization_list_url' %}">Utils</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <!--{% if organization_list_url != request.path %}
      <li class="nav-item active">
        <a class="nav-link disabled" href="{% url 'organization_list_url' %}"">Home <span class="sr-only">(current)</span></a>
      </li>
      {% endif %}-->
      <li class="nav-item">
        <a class="nav-link" href="#">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto mr-2">
      <li>
        <div class="cart-container">
          <a class="nav-link" id="cart" href="">Cart <span id="total-payments">
            {% if total_payments %}
              ({{ total_payments }})
            {% else %}
              (0)
            {% endif %}
          </span></a>
          <div class="cart-items">
            <ul id="cart-snippet">
              {% for payment in payments_in_cart %}
              <li>
                <h4>{{ payment.payment.organization.title }}</h4>
                values: {{ payment.payment.previous_counter_value }} - {{ payment.payment.current_counter_value }}<br>
                difference: {{ payment.payment.difference }} {{ payment.payment.organization.measurement_units }}<br>
                price: {{ payment.price_per_payment }} UAH <a href="" class="delete-item">X</a><br><br>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </li>
    </ul>
  </div>
</nav>