{% extends 'payments/base.html' %}

{% block content %}

<div class="form-group">
    <form method="post">
        {% csrf_token %}
        <!--    <label for="title">Enter organization name: </label>-->
        <input class="form-inline" id="title" type="text" name="title" placeholder="Organization name">
        <input id="tariff" name="tariff" type="number" step="0.01" placeholder="tariff">
        <select name="measurement_units" id="measurement_units">
            <option value="кВт/ч">кВт/ч</option>
            <option value="м3">м3</option>
        </select>
        <!--    {{ form.title }}-->
        <!--    {{ form.tariff }}-->
        <!--    {{ form.previous_counter_value }}-->
        <!--    {{ form.measurement_units }}-->
        <input type="submit" class="btn btn-success" value="OK">
    </form>
</div>

{% endblock %}