{% extends 'payments/base.html' %}
{% load static %}

{% block content %}
<div class="row organization-list-row">
	<div class="col-12 organizations">
		<div class="main-title text-left">
			<span class="">Services</span>
		</div>
		<div class="row services-row">
			{% comment %} <img src="{% static 'payments/media/img/alarm.png' %}" style="height: 20px; width: auto"
				alt=""> {% endcomment %}
			{% for service in services %}
			<div class="col-6 col-sm-4 col-md-3 col-lg-3 org-item-wrapper">
				<a href="{% url 'organization_detail_url' service.slug %}"
					class="col organization-item"><img src="{{ service.icon.icon.url }}" class="icon"><br>{{ service.title }}</a>
			</div>
			{% endfor %}
		</div>
	</div>
	<div class="add-organization-bnt">
		<a href="{% url 'organization_create_url' %}" class="btn btn-primary mt-5">Add Service</a>
	</div>
</div>
{% comment %} <div class="username">
	{{ user.last_name }}
	{{ user.first_name|slice:":1" }}.
	{{ user.surname|slice:":1" }}.
</div> {% endcomment %}
{% endblock %}