{% extends 'payments/base.html' %}
{% load static %}
{% block content %}
{% if user %}
<!--<div class="back-button">
    <a href="{{request.META.HTTP_REFERER}}"><i class="fas fa-chevron-left fa-2x"></i></a>
</div>-->
<div class="row service-detail-row">
    <div class="col service-detail">
        <div class="row align-items-center">

            <!--Title-->
            <div class="col service-title text-left">
                <h3>{{ organization.title }}</h3>
            </div>

            <!--Options-->
            <div id="options" class="options">
                <!--Archive icon-->
                <div class="archive"><a href="{% url 'payment_archive_url' organization.slug %}">
                    <img src="{% static 'payments/media/img/icons/archive-1.png' %}" style="height: 25px; width: auto;">
                </a>
                </div>

                <!--Dropdown dotted menu-->
                <div class="dropdown dotted-menu text-right">
                    <button class="dotted-menu" type="button" id="dropdownMenu2" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                        <svg width="1em" height="0.9em" viewBox="0 0 16 16" class="bi bi-three-dots-vertical"
                             fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z" />
                        </svg>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                        <a href="{% url 'organization_update_url' slug=organization.slug %}">
                            <button class="dropdown-item" type="button">Edit</button>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="{% url 'organization_delete_url' organization.slug %}">
                            <button class="dropdown-item" type="button">Delete</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col info-wrapper text-left">

            <!--Tariff-->
            <div class="row">
                <div class="col info-values">
                    <div class="details-item">
                        Tariff
                    </div>
                    <div class="service-detail-item">{{ organization.tariff }}<span class="values-units">
                                hrn</span></div>
                </div>
            </div>

            <!--Units-->
            <div class="row">
                <div class="col info-values">
                    <span class="details-item">
                        Units
                    </span>
                    <span class="service-detail-item">{{ organization.measurement_units }}</span>
                </div>
            </div>

            <!--Counter values-->
            {% if last_payment.current_counter_value %}
            <div class="row">
                <div class="col info-values">
                    <span class="details-item">
                        Counter
                    </span>
                    <span class="service-detail-item">{{ last_payment.current_counter_value }}<span class="values-units">
                                 {{ organization.measurement_units }}</span></span>
                </div>
            </div>
            {% endif %}
        </div>

        {% comment %} <p>Name: {{ user.last_name }} {{ user.first_name }}. {{ user.surname }}</p>
        {% endcomment %}
    </div>
</div>
<div class="new-payment-button">
    <a href="{% url 'payment_create_url' organization.slug %}"><button class="btn btn-primary mt-5">New payment</button></a>
</div>
{% endif %}
{% endblock %}