{% extends 'payments/base.html' %}

{% block page-title %}<h3>{{ organization }}</h3>{% endblock %}
{% block content %}
{% if payments %}
<div class="row service-detail-row">
    <div class="col service-detail">
        <div class="row">
            <div class="col service-title text-left">
                <h3><a href="{% url 'organization_detail_url' organization.slug %}">{{ organization.title }}</a> Payment Archive</h3>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col archive-body">
                {% for payment in payments %}
                    <div class="col-6 col-sm-4 col-md-3 col-lg-6 card archive-card  mb-3 text-left">
                        <div class="card-body">
                            <h5 class="card-title">{{ payment.organization.title }} ({{ payment.date|date:"d.m.Y" }})</h5>
                            <p class="card-text">{{ payment.previous_counter_value }} - {{ payment.current_counter_value }} <span class="measurement_units">{{ payment.organization.measurement_units }}</span></p>
                            <div class="add-button text-right">
                                <a href="{% url 'payment_detail_url' payment.pk %}" class="stretched-link"></a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

    </div>
    </div>
{% else %}
<p style=" font-weight: 400;
  font-size: 30px;
  color: #696e78;">You have no payments yet</p>
{% endif %}
<div class="new-payment-button text-center">
    <a href="{% url 'payment_create_url' organization.slug %}" class="btn btn-primary mt-5">New payment</a>
</div>
{% endblock %}