<form action="{% url 'custom_profile_url' %}" method="post">{% csrf_token %}
    <label for="first_name">First name:</label>
    <input type="text" id="first_name" name="first_name" placeholder=""><br>

    <label for="last_name">Last name:</label>
    <input type="text" id="last_name" name="last_name" placeholder=""><br>

    <label for="surname">Surname:</label>
    <input type="text" id="surname" name="surname" placeholder=""><br>

    <label for="address">Address:</label>
    <input type="text" id="address" name="address" placeholder=""><br>
    <input type="submit" value="OK">
</form>

